#text1 {
  padding-left: 3rem;
}
#text2 {
  padding-right: 3rem;
}
#style {
  margin-left: 0.5rem;
  margin-top: 0.5rem;
}
#cardDesign {
  margin-top: 2rem;
}
#header {
}
#align {
  margin-bottom: 1rem;
}
#childIcons {
  margin-bottom: 0;
  width: max-content;
}
@media only screen and (max-width: 483px) and (min-width: 312px) {
  #iconSize {
    padding: 0.928571em 0.42857em;
  }
}

#card {
  margin-bottom: 0px;
  margin-top: 0px;
  border-bottom-color: black;
  color: rgb(85, 85, 81);
}
#ques {
  margin-bottom: 1rem;
}
#align h2 {
  margin-bottom: 2rem;
}

form {
  padding-bottom: 1rem;
}
#cardPadding {
  padding-top: 3rem;
  background: #f8f8f8;
}
#textStyle {
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}
#cardDesign {
  margin-top: 3rem;
}
