.react-autosuggest__container {
  position: relative;
  width: initial;
}

.react-autosuggest__input--focused {
  outline: none;
}

.react-autosuggest__suggestions-container {
  display: none;
}

.react-autosuggest__suggestions-container--open {
  display: block;
  position: absolute;
  width: 100%;
  top: 2.65rem;
  border: 1px solid #aaa;
  border-top: none;
  background-color: #fff;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  z-index: 10000;
}
.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 10px 20px;
}

.react-autosuggest__suggestion--highlighted {
  background-color: #ddd;
}

.ui.icon.menu .icon::before {
  opacity: 1;
}
.ui .input input {
  border-radius: 0.5rem 0.5rem 0rem 0rem;
}
.ui.fluid.input {
  margin-top: 3rem;
}
